<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.XcxUserMapper">
  <resultMap id="BaseResultMap" type="com.chen.model.XcxUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="medical_card_number" jdbcType="VARCHAR" property="medicalCardNumber" />
    <result column="medical_insurance_card" jdbcType="VARCHAR" property="medicalInsuranceCard" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="registration_time" jdbcType="TIMESTAMP" property="registrationTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="standby_mobile_phone" jdbcType="VARCHAR" property="standbyMobilePhone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="registered_mobile_phone" jdbcType="VARCHAR" property="registeredMobilePhone" />
    <result column="authentication" jdbcType="VARCHAR" property="authentication" />
    <result column="union_id" jdbcType="BIGINT" property="unionId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
  </resultMap>
</mapper>